name: deploy

on:
  push:
    tags:
    - '*'

jobs:
  build:
    strategy:
      matrix:
        distribution: [bdist_wheel]
        python-3-version: [9, '10', '11', '12', '13', '14']
        include:
          - distribution: sdist
            python-3-version: '13'

    name: Build Python 3.${{ matrix.python-3-version }} ${{ matrix.distribution }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.${{ matrix.python-3-version }}
          allow-prereleases: true
      - name: Package sdist
        if: matrix.distribution == 'sdist'
        run: |
          pip install --upgrade setuptools wheel build
          python -m build -s
      - name: Package bdist_wheel
        if: matrix.distribution == 'bdist_wheel'
        run: |
          pip install --upgrade wheel build
          python -m build -w

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifact-${{ matrix.distribution }}-3.${{ matrix.python-3-version }}
          path: dist/*

  upload_all:
    name: Upload files to PyPI
    needs: build
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      # IMPORTANT: this permission is mandatory for Trusted Publishing
      id-token: write

    steps:
    - name: Download all the dists
      uses: actions/download-artifact@v4
      with:
        path: dist
        pattern: artifact-*
        merge-multiple: true

    - name: Publish
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
          print-hash: true
